/* starting code */

body {
  background-color: black;
  margin: 0 auto;
  background-image: url('../images/background70.png');
  background-repeat: no-repeat;
  background
  /*background-position: center;*/
}

#backgroundImg {
  opacity: 0.3;

}

html, body {
  font-family: 'Dosis', sans-serif;
}

header {
  width: 100%;
  display: block;
  height: 220px;
  margin: 2% 0%;
  padding: 1%;
  text-align: center;
  color: #bc5805;
  background: rgba(255, 255, 255, 0.7)
}

p {
  font-size: 20px;
}

button {
  float: right;
  margin-right: 48%;
}

#modal {
  background-color: snow;
  height: 70px;
  width: 140px;
  margin: 0 auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  align-content: center;
  padding: 20px;
  margin-bottom: 20px;
}

#modalTwo {
  background-color: snow;
  height: 70px;
  width: 140px;
  margin: 0 auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  align-content: center;
  padding: 20px;
}

.selected {
}

.cards {
  padding: 20px;
}

#game-board {
  margin: auto;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
}
/*********************************/
